#root, html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
}
.card {
  background: whitesmoke;
  width: 40%;
  height: 20%;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 25px;
  padding: 2%;
  box-shadow: 10px 10px;
}

@media only screen and (max-width: 600px) {
  .card {
      width: 80%;
      height: 30%;
  }
}
